@charset "UTF-8";

/* IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Marvel:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Marvel:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


/* GLOBAL CONFIG*/

*
{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body
{
    background-color: var(--Text_Color_Weak-Orange);
}

header
{
    margin: 30px;
    display: block;
    background-color: var(--Text_Color_Normal-Orange);
    padding: 20px;
}

/* ROOT'S*/

:root
{

    /* Text-fonts */
    --Text_Font_Marvel: Marvel;
    --Text_Font_Playfair: Playfair Display;
    --Text_Font_Kanit: Kanit;

    /* Text-colors */
    --Text_Color_Weak-Green: #C8DC98;
    --Text_Color_Weak-Orange: #DBAE8B;
    --Text_Color_Weak-Yellow: #DBCB8B;

    --Text_Color_Normal-Green: #BCDB55;
    --Text_Color_Normal-Orange: #DB8C50;
    --Text_Color_Normal-Yellow: #DBC057;

    --Text_Color_Strong-Green: #A1DB1C;
    --Text_Color_Strong-Orange: #DB6C1D;
    --Text_Color_Strong-Yellow: #DBB41A;
}

/* HEADER */

header
{
    background-color: var(--);
}

/* MAIN */

/* FOOTER*/